@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

/* CSS for Main */
.bg-index {
	background: url("./images/photo1459666644539a9.png") no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

/* CSS for Home */
.bg-home {
	background: url("./images/photo1459666644539a9.png") no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

/* CSS for Team */
.bg-team {
	background: url("./images/photo1459666644539a9.png") no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}